<div class = "container">
  <div class = "row">
    <div class = "col-11 offset-1 mt-1">
      <% if @post_blogs.present? %>
        <%= render 'card', post_blogs: @post_blogs %>
      <% else %>
      <div class="alert alert-danger" role="alert">
        <h3>下書きはありません。</h3>
      </div>
      <% end %>
    </div>
  </div>
</div>