<% if error_comment.present? %>
  <div class="alert" role="alert">
    <ul>
      <% error_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>