@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

// 全体の枠取り　最小値
body { min-height: 100vh; }

.top_background {
     background-image: url("../images/gyms_top_background_image.jpg");
     background-size: cover;
}

.unsubscribe_background {
    background-image: url("../images/gyms_unsubscribe_background_image.jpg");
    background-size: cover;
    background-position: top top;
}

.top_text {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background {
    padding-bottom: 80px;
    background-color: #DCDCDC;
}

// 背景色を無くす
.top_background .background,
.unsubscribe_background .background{
    background-color: initial;
}

ul {
    list-style-type: none;
  }

.calendar {
    background-color: #FFFFFF;
}

.prev-month {
// カレンダーのカスタマイズ、日付調整、要素は存在するが見えないようにする
    visibility: hidden;
}

.next-month {
// カレンダーのカスタマイズ、日付調整、要素は存在するが見えないようにする
    visibility: hidden;
}

table.calendar {
    td.day {
    height: 100px !important;
    // レスポンシブ対応　レイアウト維持のため
    min-width: 104px;
}
}

//過去日付は色を変える
.past {
  background-color: #D3D3D3;
}

.user_card {
    height: 500px;
}

.memo {
    height: 300px;
}
// .sec 子孫関係
//vertical-align: baselin

.pagination {
  justify-content: center;
}

.nav-item {
    .edit_link {
        color: #FFFFFF;
}
}

.icon {
    .link_edit {
     text-decoration: none;
}
}

.alert {
  text-align: center;
  background-color: #F0E68C;
}

table.admin_users {
    th {
        min-width: 105px;
    }
}

@media screen and (max-width: 550px) {
  .top_background {
      background-image: url("../images/responsive_top_background_image.jpg");
  }

  .top_text {
      font-size: 0.8em;
  }

  .unsubscribe_text {
      font-size: 1em;
  }

  .unsubscribe_background {
      background-position: 50% 50%;
  }

  .form-inline {
      flex-flow: nowrap;
}

.admin_users {
    font-size: 0.3em;
}
}